.container{
    width: 100%;
    height: 100%;
    background-color: black;
}

.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.card-login{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: linear-gradient(30deg, rgba(121, 82, 119, 0.975) 30%, #355192 85%);
    justify-content: center;
    align-items: center;
}
.login-container .sign-in:checked+.item,
.login-container .sign-up:checked+.item {
    color: #fff;
    border-color: #DF00FF;
}

.card {
    width: 400px;
    height: auto;
    background-color: white;
    padding: 4 4 4 4;
    -webkit-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
    
}

.container-link{
    display: flex;
    height: 40px;
    justify-content: space-around;
}
.container-link a{
    position: relative;
    text-decoration: none;
    list-style-type: none;
    color: black;
    transition: 0.3s ease;
}
.container-link a:hover{
    color:#DF00FF;
    border-top: 3px #DF00FF solid ;
    top: 0px;
}

.active{
    color:#DF00FF;
    border-top: 3px #DF00FF solid ;
    top: 0px;
}
.container-link a::before {
    position: absolute;
    width: 12px;
    height: 56px;
    background-color: fuchsia;
    top: 3px;
    
}



.formLogin{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 3 3 3 3;
    justify-content: center;
    align-items: center;

    
}
.error{
    color:red;
}

.container-terms{
    padding-top: 23px;
    padding-bottom: 23px;

}


