    
    <mat-sidenav class="sidenav" #sidenav  mode="side"  >
        <mat-toolbar  color="white" >
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button 
            (click)="toogleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
    
        </mat-toolbar>
    
        <mat-nav-list *ngFor="let  menu of menuItem; let i = index;">
            <div *ngFor="let item of menu.submenu">

                <a [routerLink]="[ item.url ]" routerLinkActive="active" (click)="toogleSidenav()" mat-list-item>
                    <mat-icon mat-list-icon>{{ menu.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                </a>    

            </div>
        </mat-nav-list>
    </mat-sidenav>
    
    

