<table >
    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
    </ng-container>
    
    <div *ngFor="let user of users">
        <ng-container matColumnDef="demo-position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                No.
              </th>
              <td mat-cell *matCellDef="let element"> {{ user.name }} </td>
        </ng-container>
        <ng-container>
            <th>{{ user.email }}</th>
        </ng-container>
        <ng-container>
            <th>{{ user.isGoogle }}</th>
        </ng-container>
        <ng-container>
            <th>{{ user.img }}</th>
        </ng-container>
        <ng-container>
            <th>{{ user.isDeleted }}</th>
        </ng-container>
    </div>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
  