
<div class="modal-container">
    <div #modal></div>
  </div>
  



  <div class="mat-elevation-z8">
    <div class="spinner">
        <mat-spinner *ngIf="loading"></mat-spinner>
          
    </div>

  <table *ngIf="!loading" mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="img">
      
      <th mat-header-cell *matHeaderCellDef> Hospital Image </th>
      <td mat-cell *matCellDef="let element">

        <button *ngIf="element.img !== undefined; else viewImage " (click)="openModalUploadImg( element )" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <img class="img-profile" [src]="element.img" alt="">
        </button>
        <ng-template #viewImage>
          <button mat-icon-button class="example-icon" (click)="openModalUploadImg( element )" aria-label="Example icon-button with share icon">
            <img class="img-profile" [src]="imagePath" alt="">
          </button>
    
        </ng-template>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-form-field appearance="fill" color="accent">
            <mat-label class="input-label">Name</mat-label>
            <input [formControlName]="element.name" [value]="element.name!"  matInput>
            

        </mat-form-field>

       </td>
    </ng-container>
    
    <!-- Weight Column -->

    
    <ng-container matColumnDef="actions">
      <mat-header-cell  *matHeaderCellDef > Delete </mat-header-cell>
      <mat-cell *matCellDef="let element" >
           <button mat-button (click)="openModal( element )" >
                <mat-icon>delete_outline</mat-icon>
           </button>
           
      </mat-cell>
    </ng-container>
    <ng-container >

      <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      </button>

    </ng-container>

 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator 
  #paginator
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="true"
  aria-label="Select page of periodic elements">
</mat-paginator>
</div>