<div class="modal-container">
    <div
    class="modal-content"
    
    >
    <div class="modal-line-style">

    </div>
    <div *ngIf="!user?.isGoogle ; else showGoogle">
      <h1  class="title">{{ title }}</h1>
      <p class="body">{{ body }}</p>

      
      <div *ngIf="action === 'file'" class="container-upload-img">
        <div class="container-user-img">
          <img class="user-img" *ngIf="imgTemp" [src]="imgTemp" alt="">
  
        </div>
        <input #file class="input-file-img" type="file" (change)=" changeFile ($event) " value="">
        <div class="upload-container">
          <button  (click)="file.click()"  class="upload-button"   mat-icon-button matSuffix>
              <mat-icon >add_photo_alternate</mat-icon>
              
          </button>
  
        </div>
       </div>

       <div class="vw100" *ngIf="action === 'input'">
          <mat-form-field hintLabel="Max 15 characters" appearance="fill">
            <mat-label>Enter name for hospital</mat-label>
            <input matInput #inputName maxlength="25" placeholder="Name">
            <mat-hint align="end">{{inputName.value.length}}/25</mat-hint>
            
          </mat-form-field>
          <mat-error *ngIf="inputName.value.length === 0 "> The name cannot be empty </mat-error>
       </div>
    </div>
      <ng-template #showGoogle>

        <h1 class="title">User registered with google cannot modify their profile photo, sorry</h1>
        <button mat-raised-button (click)="closeMe()">Close</button>

      </ng-template>
        <div *ngIf="action === 'file' && !user?.isGoogle" class="cointainer-button-submit">
          <div *ngIf="user !== null && hospital === null">
            <button  mat-raised-button type="button" (click)="uploadFile('users')" color="primary">Accept</button>
            <button mat-raised-button (click)="closeMe()">Close</button>

          </div>
          <div *ngIf="hospital !== null">
            <button  mat-raised-button type="button" (click)="uploadFile('hospitals')" color="primary">Accept</button>
            <button mat-raised-button (click)="closeMe()">Close</button>
          </div>

        </div>



        <div  *ngIf="action === 'confirmation'" class="btn-container">
          <button  mat-raised-button color="primary" (click)="confirm()">Confirm</button>
          <button  mat-raised-button (click)="closeMe()">Close</button>
        </div>
        <div *ngIf="action === 'input'">
          <button  mat-raised-button color="primary" (click)="addHospital( inputName.nativeElement.value )">Confirm</button>
          <button  mat-raised-button (click)="closeMe()">Close</button>
        </div>


      </div>



      
    </div>